
<div class ="container mb-5">
  <br/>
    <h1>New Listing</h1>

  <div class="column">
    <%= form_for( Listing.new, :html => {:class => "form-control"} )do |form| %>
        <%= form.label :title, style: 'margin: 1%' %>
        <%= form.text_field :title , class: 'form-control' %>
        
          <%= form.label :price, style: 'margin: 1%' %>
          <%= form.text_field :price , class: 'form-control col-md-2' %>

          <%= form.label :location, style: 'margin: 1%' %>
          <%= form.text_field :location , class: 'form-control col-md-2' %>

        <%= form.label :description, style: 'margin: 1%'  %>
        <%= form.text_area :description, class: 'form-control', size: '50x10'%>
        <div class ="row " >
          <div class ="col-5 mt-5 ml-4" >
            <%= form.file_field :listing_images, multiple: true %>
          </div>
          <div class ="column" >
            <%= form.submit"Create a listing", class: "btn btn-primary mt-5" %>
          </div>
        </div>
    <% end %>
  </div>


</div>