

<h1>New Listing</h1>

<%= form_for(Listing.new) do |form| %>
    <%= form.label :title%>
    <%= form.text_field :title %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.submit %>
<% end %>