
<div class ="container mb-5">
  <br/>


  <div class="column">
    <%= form_for( Listing.new, :html => {:class => "form-control"} )do |form| %>
        <%= form.label :title, style: 'margin: 1%' %>
        <%= form.text_field :title , class: 'form-control' %>
        
          <%= form.label :price, style: 'margin: 1%' %>
          <%= form.text_field :price , class: 'form-control col-md-2' %>

          <%= form.label :location, style: 'margin: 1%' %>
          <%= form.text_field :location , class: 'form-control col-md-2' %>

        <%= form.label :description, style: 'margin: 1%'  %>
        <%= form.text_area :description, class: 'form-control', size: '50x10'%>
        <div class ="row">
          <div class ="col mt-3 ml-1 mb-1">
             <h7>Amenities</h7>
             <hr>
          </div>

         
        </div>
         
        <div class ="row">
 
          <div class="col ml-2">
            <%= form.check_box(:parking) %>
            <%= form.label :parking%>
            
            <br/>


            <%= form.check_box(:disabled_access) %>
            <%= form.label :disabled_access%>
            <br/>


            <%= form.check_box(:elevator) %>
            <%= form.label :elevator %>
            <br/>

            <%= form.check_box(:smoking) %>
            <%= form.label :smoking%>
            <br/>


          </div>





          <div class="col ml-2">

            <%= form.check_box(:wifi) %>
            <%= form.label :wifi %>
            <br/>

            <%= form.check_box(:private_room) %>
            <%= form.label :private_room %>
            <br/>

            <%= form.check_box(:kitchen) %>
            <%= form.label :kitchen%>
            <br/>

            <%= form.check_box(:air_conditioning) %>
            <%= form.label :air_conditioning%>
            <br/>

            
          </div>

          <div class="col ml-2">

            <%= form.check_box(:event_hosting) %>
            <%= form.label :event_hosting%>
            <br/>


            <%= form.check_box(:gym) %>
            <%= form.label :gym %>
            <br/>

            <%= form.check_box(:pool) %>
            <%= form.label :pool%>
            <br/>

            <%= form.check_box(:garden) %>
            <%= form.label :garden%>
            <br/>

          </div>


        </div>




        <div class ="row " >
          <div class ="col-5 mt-5 ml-4" >
            <%= form.file_field :listing_images, multiple: true %>
          </div>
          <div class ="column" >
            <%= form.submit"Create a listing", class: "btn btn-primary mt-5" %>
          </div>
        </div>
    <% end %>
  </div>


</div>