<h1>Listings </h1>

  <%@listings.each do |listing|%>
  <br/>
  <hr>
  <strong> Title:</strong> <%= link_to listing.title, listing_path(listing)%>
  <br/>
  <strong>Posted by Host_id: </strong><%=listing.host_id%>
  <br/>
  <strong> Description:</strong> <%=listing.description%>
  <%=link_to "Edit listing", edit_listing_path(listing)%>
  <%= link_to 'Destroy', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <%=link_to "Book Now!", new_listing_booking_path(listing)%>

<%end%>
<hr>
