<br/>
<div class= "container">
<h1>New Booking</h1>
</div>

<%= render template: 'listings/show' %>

<br/>


<div class="container">
  <%= form_for([@listing, Booking.new],:html => {:class => "form-control form-inline"} ) do |form| %>

   

      
        <%= form.label :start_date, style: 'margin: 1%'%>
        <%= date_field(:booking, :start_date, class: 'form-control mb-2 mr-sm-2') %>
      


      
        <%= form.label :end_date, style: 'margin: 1%' %>
        <%= date_field(:booking, :end_date, class: 'form-control mb-2 mr-sm-2') %>
      

     <%= form.submit "Reserve!", class: "btn btn-primary mb-2", style: 'margin-left: 5%'  %>

    
  <% end %>
</div>
<div class ="container">
  <div>
    <% if @booking_error %>
    <!-- <p> Opps! Booking you have choosen is unavailable. Please, check other dates. </p> -->

    <p> <%= flash[:notice] =  @booking.errors.messages[:start_date].first%> <p>
    <p> <%=flash[:notice] =   @booking.errors.messages[:end_date].first %> <p>
    <p> <%=flash[:notice] =   @booking.errors.messages[:base].first %> <p> 


   <%end%>
  </div>
</div>



