
<h1>New Booking</h1>

<%= render template: 'listings/show' %>

<br/>

<%= form_for([@listing, Booking.new] ) do |form| %>
    <%= form.label :start_date%>
    <%= date_field(:booking, :start_date) %>

    <%= form.label :end_date %>
    <%= date_field(:booking, :end_date) %>


    <%= form.submit %>
<% end %>

<% if @booking_error %>
<% flash[:notice] =    @booking.errors.messages[:start_date].first %>
<% flash[:notice] =    @booking.errors.messages[:end_date].first %>
<%end%>