

<div class = "container">
  <br/>
  <h1> Welcome to PairBnB! </h1>
  <h4><em> Here Are the Most Recent Listings </em> </h4>
  <div class="card-group">

    <%@listings.each do |listing|%>
      <div class="card">

        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        
        <div class="card-body" style = " padding: 15%">

          <h5 class="card-title"><strong> Title:</strong>
          <%= link_to listing.title, listing_path(listing)%> </h5> 
          <p><small class="text-muted"><strong>Posted by Host: </strong><%=listing.host.email%></small></p>
          <p class= "card-text"> <strong> Description:</strong> <%=listing.description%> </p>
          
          <%=button_to "Book Now!", new_listing_booking_path(listing),:class=>"btn btn-success", :method => "get"%>
        </div>

      </div>
    <%end%>


  </div>
  <br/><br/>
  <div style= "text-align: center">
   <%=button_to "View All Listings!",  listings_path(@listing),:class=>"btn btn-primary", :method => "get"%>
 </div>

</div>
